body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #111010;
    color: #333;
  }
  
  header {
    background-color: #444;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }